.order {
  &-header {
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 768.99px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.arrow {
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 80px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-right: 32px;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
  }

  @media (max-width: 768.99px) {
    width: 100%;
    margin-bottom: 26px;
    box-shadow: rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border: none;
    margin-right: 0;
  }

  .order-arrow-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 50%;
    transform: translate(50%, 230%);
    width: 8px;
    height: 14px;
    fill: #2a4455;
  }
}
.sent {
  &-title {
    font-weight: 700;
    @include fz(32);
    color: #000000;
    margin-bottom: 11px;
    line-height: 1.6;
  }

  &-subtitle {
    @media (max-width: 768.99px) {
      align-items: center;
    }

    &-block {
      width: 8px;
      height: 8px;
      background-color: #1a66ae;
      border-radius: 50%;
      margin-right: 8px;
    }

    &-text {
      font-weight: 400;
      @include fz(18);
      color: #808080;
    }
  }
}

.order-card {
  padding: 30px 30px 35px 30px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  margin-bottom: 16px;

  @media (max-width: 1024.99px) {
    padding: 0;
  }
}

.order-load {
  margin-bottom: 88px;

  @media (max-width: 1024.99px) {
    margin-bottom: 56px;
  }

  &-contract {
    padding: 30px 32px 35px 30px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;

    @media (max-width: 1024.99px) {
      padding: 16px 32px;
      margin-bottom: 16px;
    }

    @media (max-width: 768.99px) {
      padding: 16px 24px;
      margin-bottom: 16px;
      gap: 20px;
    }
    &-text {
      flex-direction: column;
      font-weight: 600;
      @include fz(18);
      color: #000000;
      margin-bottom: 5px;
      line-height: 1.6;

      @media (max-width: 370px) {
        flex: 0 0 103px;
      }
    }

    &-text span {
      font-weight: 400;
      @include fz(14);
      color: rgba(0, 0, 0, 0.5);
      line-height: 1.6;
    }

    &-btn {
      cursor: pointer;
      padding: 8px 45px;
      font-weight: 600;
      @include fz(16);
      color: #000000;
      line-height: 1.6;
      background: #f5f5f5;
      border-radius: 5px;
    }
  }
}
.order-compres {
  margin-bottom: 88px;

  @media (max-width: 1024.99px) {
    margin-bottom: 56px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: 1px solid #d3d3d3;
    &:last-child {
      border-bottom: 1px solid #d3d3d3;
    }

    @media (max-width: 768.99px) {
      padding: 15px 0px 24px 0px;
      align-items: flex-start;
    }

    &-name {
      align-items: center;
      display: contents;

      @media (max-width: 1024px) {
        display: block;
        align-items: flex-start;
      }
    }

    &-text {
      @media (max-width: 1024.99px) {
        margin-bottom: 10px;
      }
    }

    &-title {
      margin-bottom: 4px;
    }

    &-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768.99px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-again {
      display: contents;
      @media (max-width: 1024.99px) {
        display: block;
        text-align: end;
      }

      @media (max-width: 768.99px) {
        text-align: start;
      }
    }

    &-price {
      font-weight: 600;
      line-height: 1.6;
      @media (max-width: 1024.99px) {
        margin-bottom: 20px;
      }
    }

    &-button {
      cursor: pointer;
      max-width: 176px;
      width: 100%;
      text-align: center;
      padding: 9px 8px;
      font-weight: 600;
      @include fz(16);
      color: #000000;
      line-height: 1.6;
      background: #f5f5f5;
      border-radius: 5px;
    }

    &-picture {
      margin-right: 24px;
    }
    &-picture img {
      width: 100%;
      height: 100%;
    }
  }
}
.card-release {
  margin-bottom: 32px;
  align-items: flex-start;

  @media (max-width: 1024.99px) {
    padding: 29px 32px 27px 37px;
    border-bottom: 1px solid #d3d3d3;
    margin: 0;
  }
  @media (max-width: 768.99px) {
    padding: 21px 24px 24px 24px;
  }

  &-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #2a4455;
  }

  &-content {
    &-title {
      font-weight: 600;
      @include fz(18);
      color: #000000;
      line-height: 1.6;
      margin-bottom: 10px;
    }
    &-span {
      font-weight: 400;
      @include fz(16);
      color: #000000;
    }
  }
}

.card-recipient {
  align-items: flex-start;

  @media (max-width: 1024.99px) {
    padding: 29px 32px 27px 37px;
    border-bottom: 1px solid #d3d3d3;
  }
  @media (max-width: 768.99px) {
    padding: 21px 24px 24px 24px;
  }

  &-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #2a4455;
  }

  &-content {
    &-title {
      font-weight: 600;
      @include fz(18);
      color: #000000;
      line-height: 1.6;
      margin-bottom: 10px;
    }

    &-span {
      font-weight: 400;
      @include fz(16);
      color: #000000;
    }
  }
}

.card-payment {
  padding: 0px 80px 0px 50px;

  @media (max-width: 1150px) {
    padding: 0px 30px 0px 30px;
  }

  @media (max-width: 1024.99px) {
    padding: 29px 32px 27px 37px;
    border-bottom: 1px solid #d3d3d3;
  }

  @media (max-width: 768.99px) {
    padding: 21px 24px 24px 24px;
  }

  &-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-pay {
      font-weight: 600;
      @include fz(18);
      color: #000000;
      line-height: 1.6;
    }
  }

  &-container {
    padding-left: 32px;

    &-pay {
      margin-bottom: 10px;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &:last-child {
        margin-top: 26px;
        margin-bottom: 0;
      }

      @media (max-width: 768.99px) {
        display: block;
      }
    }

    &-leftside {
      font-weight: 400;
      @include fz(16);
      line-height: 1.6;
      color: #808080;
    }

    &-rightside {
      text-align: end;
      font-weight: 400;
      @include fz(16);
      line-height: 1.6;
      color: #000000;

      @media (max-width: 768.99px) {
        text-align: initial;
      }
    }
  }
}

.card-info {
  display: flex;
  flex-direction: column;

  @media (max-width: 1024.99px) {
    padding: 29px 32px 27px 37px;
    padding-top: 20px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (max-width: 768.99px) {
    padding: 21px 24px 24px 24px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-question {
    font-weight: 400;
    @include fz(16);
    color: #1a66ae;
    margin-bottom: 10px;
    line-height: 1.6;
  }

  &-comeback {
    font-weight: 400;
    @include fz(16);
    color: #1a66ae;
    margin-bottom: 10px;
    line-height: 1.6;
  }

  &-repeat {
    max-width: 176px;
    max-height: 40px;
    width: 100%;
    cursor: pointer;
    padding: 9px 8px;
    text-align: center;
    font-weight: 600;
    @include fz(16);
    color: #000000;
    line-height: 1.6;
    background: #f5f5f5;
    border-radius: 5px;
    margin-top: 9px;

    @media (max-width: 11250px) {
      max-height: fit-content;
    }
  }
}
